@import url('marvel-bold.css');
.main_menu {
    /* height: 60px;*/
   /* background: rgba(208, 246, 255, .33) ;*/
    padding: 11px 0px;
}


body {
    background: rgba(33, 68, 221, 0.33) ;
   
    width: 90%;
    margin: auto;
  /*  url('img/backg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-blend-mode: lighten;*/
}

.background {
    position: fixed;
    width: 140%;
    height: 100%;
    margin-left: -20%;
    background: linear-gradient(to bottom, rgb(98, 154, 226), rgb(255, 255, 255));
    z-index: -2;
}

* {
    color: rgb(0, 0, 0);
    z-index: 1;
}

.center {
    margin: 0 auto;
}

.main_menu nav a {
    font-family: 'marvel-bold';
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 5px 25px;
    margin: -2px;
     }


.main_menu nav {
    text-align: center;
}

.main_menu nav a.active {
    
    color: black;

}

.main_menu nav a:hover {
    text-decoration: underline;
}

.main_menu nav a.active:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0.15);
    
}

.logo_section {
   /* text-align: center;*/
    padding: 26px 0px 26px;
}

/* Весь текст на сайте */

.texts {
    margin: auto;
    position: relative;
    text-align: justify;
}


/* Чтобы списки нормально по центру отображались */

.hor {
    display: inline-flexbox;
    margin-left: 50px;
}

ul {
    list-style: none;
}


/* +замена чёрной точки на другой цвет */

li::before {
    content: "•";
    color: rgb(36, 0, 165);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.content {
    position: relative;
    width: 100%;
}



.table {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
    width: 90%;
    margin: auto;
}

.slider1 {
    width: 30%;
    text-align: center;
    margin-bottom: 60px;
}

img.slider {
    width: 60%;
}

button {
    background-color: rgb(182, 182, 185);
    color: #141414;
    width: 80%;
    height: 24%;
    box-shadow: 7px 7px 5px rgba(0,0,0,0.6);
    text-align: center;
    font-size: 100%;
    border-radius: 15px;
}

.shapka {
    margin: 0;
    width: 60%;
    min-width: 50%;
  /*  margin-left:  -8%;*/
}

.shapka a img{
    margin: 0;
    width: 65%;
    min-width: 55%;
  /*  margin-left:  -8%;*/
}


.kontacts {
    width: 30%;
    min-width: 15%;
}
.kontacts p{
    margin: 15px;
    /*padding: 25px;*/
}

.deviz {
    margin: auto;
    width: 70%;
}

