@import url('marvel-bold.css');
.main_menu {
    /* height: 60px;*/
    background: linear-gradient(#e4e4e6, #d6d6d8);
    padding: 11px 0px;
}

body {
    background: rgba(208, 246, 255, .33) url('img/backg.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-attachment: fixed;
    background-blend-mode: lighten;
    background-position: center -40px;
}

* {
    color: rgb(0, 0, 0);
    z-index: 1;
}

.center {
    width: 70%;
    margin: 0 auto;
}

.main_menu nav a {
    font-family: 'marvel-bold';
    font-size: 24px;
    color: #313030;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 5px 25px;
    margin: 0px 12px;
}

.main_menu nav {
    text-align: center;
}

.main_menu nav a.active {
    background: rgba(56, 75, 240, 0.829);
}

.main_menu nav a:hover {
    text-decoration: underline;
    cursor: default;
}

.main_menu nav a.active:hover {
    text-decoration: none;
}

.logo_section {
    text-align: center;
    padding: 26px 0px 26px;
}

.slider button {
    position: absolute;
    top: 50%;
    width: 72px;
    height: 61px;
    background: rgba(0, 0, 0, .35);
    z-index: 1;
    cursor: pointer;
}

.slider button.slick-prev {
    left: 0px;
}

.slider button.slick-next {
    right: 0px;
}

.slider {
    text-align: center;
}


/* Весь текст на сайте */

.texts {
    margin: auto;
    position: relative;
    text-align: justify;
}


/* Чтобы списки нормально по центру отображались */

.hor {
    display: inline-flexbox;
    margin-left: 50px;
}

ul {
    list-style: none;
}


/* +замена чёрной точки на другой цвет */

li::before {
    content: "•";
    color: rgb(61, 126, 179);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.content {
    position: relative;
    width: 67%;
}

.sidebar {
    position: relative;
    width: 23%;
}

.table {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1;
}

.slider1 {
    width: 33%;
    text-align: center;
    margin-bottom: 50px;
}

img.slider {
    width: 60%;
}

button {
    background-color: rgb(61, 126, 179);
    color: #ffffff;
    width: 80%;
    height: 24%;
    border-radius: 15px;
    text-align: center;
}

.ss {
    border: 1px solid rgb(161, 192, 238);
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(76, 153, 177, 0.30);
    z-index: 1;
}